body{
    background-color: rgb(38, 46, 88);
}



/* CSS DO DATA DE NASCIMENTO */
.input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.329);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 25px;
}

.input-field input::placeholder {
  color: #fff;
}