
.navbar {
  position: fixed;              /* fica no topo sempre */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2px;

  background: rgba(0, 0, 0, 0.2); /* transparência */
  backdrop-filter: blur(2px);    /* BLUR REAL */
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  transition: background 0.3s ease, padding 0.3s ease;
}

/* Efeito ao scroll: navbar mais compacta */
.navbar.scrolled {
  padding: 6px 20px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
}

.nav-right-auth {
  display: flex;
  flex-direction: column;  /* um em cima do outro */
  padding: center;
  
}


.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: center;
   color: white;
  

}


.coisinha{
  display: flex;
  flex-direction: column;  /* um em cima do outro */
  padding: center;
}



.usuario {
  position: relative;
  display: inline-block;
  color: white;
}

.profile-icon {
  cursor: pointer;
  font-size: 30px;
  
}

/* ===== MENU QUADRADO ===== */
.profile-menu {
  display: flex;
  position: absolute;
  top: 40px; 
  pointer-events: none; /* não intercepta cliques */
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  border-radius: 8px;
  width: 160px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  transition: opacity 0.25s ease, transform 0.25s ease, visibility 0s linear 0.2s;
  z-index: 100;
  

}

/* Texto “Tem conta?” */
.profile-text {
  font-weight: bold;
  margin: 0 0 6px 4px;
  font-size: 14px;
  color: #222;
}

/* ===== LINKS ===== */
.profile-menu a {
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  transition: background 0.2s;
}

.profile-menu a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ===== MOSTRAR MENU AO HOVER ===== */
.usuario:hover .profile-menu {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
  transition-delay: 0s;        /* aparece instantâneo */

}

.usuario:not(:hover) .profile-menu {
  pointer-events: auto;
  transition-delay: 0.2s;    
}

.profile-menu::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 10px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.95) transparent;
  
  
}

